@font-face {
    font-family: ac;
    src: url(./acme.ttf);

 }

footer{
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    line-height: 3;
    max-width: 100%;
    display:flex;
    justify-content:space-between;
  }

  .houm{
      font-family: cle;
      margin: 1em;
  }

  .nombre{
      font-family: ac;
      padding-top: 1em;
  }